button, 
form {
	margin: 5px;
}
button {color: yellow}
.jumbotron {
	font-weight: bold;
	background-color: black;
	color: white;

}
.container .jumbotron, .container-fluid .jumbotron {
	padding-top: 2px;
	padding-bottom: 2px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
	background-color: black;
	border: black;
	color: white;
}
input{
	background-color: #ffffff ;
}
.item {
	padding: 10px;
	display: inline-block;
}
p{
	background-color: #f8f4ff;
	color: #cdbfe3;	
	padding: 0px;
}